body {
    background-color: #e0e0e0;
    padding: 10px;
}

.chatbox{
    background-color: #ffff;
    width: 250px;
    height: auto;
    padding: 5px;
}

.chat {
    background-color: #ffff;
    width: 250px;
    height: auto;
    padding: 5px;
}

.text {
    list-style: none;
    padding: 0px;
    margin: 0px;
}